# Node modules
node_modules/

# Environment variables
.env

# Uploaded images (if stored locally)
uploads/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Optional: Build folders if any in future
dist/
